src/main/mule/testtrans.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7c830d27-9446-494a-952b-19da34e16fae" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testtransFlow" doc:id="4c34bbc7-e85e-46ef-80b7-e9f963df1db4" >
		<http:listener doc:name="Listener" doc:id="66cd26a9-3950-4fce-aeb8-00cf666378bd" config-ref="HTTP_Listener_config" path="/hit"/>
		<set-variable value='{ 	"machineList": [{ 			"isAGCO": null, 			"isProductLinked": true, 			"machineId": "a4i1o000000KNGRAA4", 			"ownershipAutoNo": "O-0370817", 			"machineName": "null", 			"ownershipStatus": "Verified", 			"machineCategory": "Sprayers", 			"equipmentType": "Implement", 			"machineSubCategory": "Trailed", 			"machineSubCategoryCode": null, 			"machineBrand": "Fendt", 			"machineModel": "RG 333", 			"machineVariant": null, 			"machineSeries": "Rogator 300", 			"vin": "XRRF0333AJV001053", 			"yearOfManufacture": null, 			"uniqueIdentifier": null, 			"productId": "01tC0000004TgCdIAK", 			"image": null, 			"visibilityFlag": "FULL", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": "Sprayers", 				"groupCode": "H", 				"subGroup": "Trailed Sprayers", 				"subGroupCode": "HB", 				"series": "Rogator 333 / 344", 				"seriesCode": "PTS", 				"model": "RG 333", 				"modelCode": "T-PTS1", 				"variant": "T-PTS1-0001", 				"variantCode": null, 				"uniqueIdentifier": "T-PTS1-0001_VARIANT" 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": null, 			"isProductLinked": true, 			"machineId": "a4i1o000000UQeJAAW", 			"ownershipAutoNo": "O-0304417", 			"machineName": null, 			"ownershipStatus": "Verified", 			"machineCategory": "Tractors", 			"equipmentType": "Machine", 			"machineSubCategory": "Standard", 			"machineSubCategoryCode": "AC", 			"machineBrand": "Fendt", 			"machineModel": "716 Vario", 			"machineVariant": null, 			"machineSeries": "700 Vario S4", 			"vin": "WAM73921A00F06334", 			"yearOfManufacture": null, 			"uniqueIdentifier": null, 			"productId": "01tC00000056UhmIAE", 			"image": null, 			"visibilityFlag": "FULL", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": "Tractors", 				"groupCode": "A", 				"subGroup": "Standard", 				"subGroupCode": "AC", 				"series": "700 Vario S4", 				"seriesCode": "70A", 				"model": "716 Vario S4", 				"modelCode": "T739", 				"variant": "T739-0001", 				"variantCode": null, 				"uniqueIdentifier": "T739-0001_VARIANT" 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": null, 			"isProductLinked": true, 			"machineId": "a4i1o000000UjvVAAS", 			"ownershipAutoNo": "O-0324023", 			"machineName": "my Custom Name 724", 			"ownershipStatus": "Verified", 			"machineCategory": "Tractors", 			"equipmentType": "Implement", 			"machineSubCategory": "Standard", 			"machineSubCategoryCode": "AC", 			"machineBrand": "Fendt", 			"machineModel": "724 Vario", 			"machineVariant": null, 			"machineSeries": "700 Vario S4", 			"vin": "WAM74321P00F09110", 			"yearOfManufacture": null, 			"uniqueIdentifier": null, 			"productId": "01tC00000056UVjIAM", 			"image": null, 			"visibilityFlag": "FULL", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": "Tractors", 				"groupCode": "A", 				"subGroup": "Standard", 				"subGroupCode": "AC", 				"series": "700 Vario S4", 				"seriesCode": "70A", 				"model": "724 Vario S4", 				"modelCode": "T743", 				"variant": "T743-0001", 				"variantCode": null, 				"uniqueIdentifier": "T743-0001_VARIANT" 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": true, 			"isProductLinked": true, 			"machineId": "a4i1o000000UjvaAAC", 			"ownershipAutoNo": "O-0324024", 			"machineName": "Test Machine", 			"ownershipStatus": "Verified", 			"machineCategory": "Tractors", 			"equipmentType": "Machine", 			"machineSubCategory": "Standard", 			"machineSubCategoryCode": "AC", 			"machineBrand": "Fendt", 			"machineModel": "939 Vario S4", 			"machineVariant": "T954-0001", 			"machineSeries": "900 Vario S4", 			"vin": "WAM95423H00F05548", 			"yearOfManufacture": "2020", 			"uniqueIdentifier": "T954-0001_VARIANT", 			"productId": "01tC00000056UGCIA2", 			"image": "imageURL", 			"visibilityFlag": "FULL", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": "Tractors", 				"groupCode": "A", 				"subGroup": "Standard", 				"subGroupCode": "AC", 				"series": "900 Vario S4", 				"seriesCode": "90A", 				"model": "939 Vario S4", 				"modelCode": "T954", 				"variant": "T954-0001", 				"variantCode": null, 				"uniqueIdentifier": "T954-0001_VARIANT" 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": true, 			"isProductLinked": true, 			"machineId": "a4i4E000000IPXWQA4", 			"ownershipAutoNo": "O-0600713", 			"machineName": null, 			"ownershipStatus": "Verified", 			"machineCategory": "Tractors", 			"equipmentType": "Machine", 			"machineSubCategory": "Standard", 			"machineSubCategoryCode": null, 			"machineBrand": "Fendt", 			"machineModel": "516 Vario S4", 			"machineVariant": "T438-0001", 			"machineSeries": "500 Vario S4", 			"vin": "WAM43821A00F07996", 			"yearOfManufacture": "2019", 			"uniqueIdentifier": "T438-0001_VARIANT", 			"productId": "01tC00000056UsuIAE", 			"image": null, 			"visibilityFlag": "FULL", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": "Tractors", 				"groupCode": "A", 				"subGroup": "Standard", 				"subGroupCode": "AC", 				"series": "500 Vario S4", 				"seriesCode": "50A", 				"model": "516 Vario S4", 				"modelCode": "T438", 				"variant": "T438-0001", 				"variantCode": null, 				"uniqueIdentifier": "T438-0001_VARIANT" 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": true, 			"isProductLinked": true, 			"machineId": "a4i4E000000IPXgQAO", 			"ownershipAutoNo": "O-0600715", 			"machineName": null, 			"ownershipStatus": "Pending AGCO Verification", 			"machineCategory": "Balers", 			"equipmentType": "Implement", 			"machineSubCategory": "Round", 			"machineSubCategoryCode": "CD", 			"machineBrand": "Fendt", 			"machineModel": "Rotana 180 V", 			"machineVariant": "Rotana 180 V Xtra", 			"machineSeries": "Rotana V Series", 			"vin": "vin134667", 			"yearOfManufacture": "2019", 			"uniqueIdentifier": "T-VRD3-0002_VARIANT", 			"productId": "01t1o00000BKODXAA5", 			"image": null, 			"visibilityFlag": "LIMITED", 			"actionType": 3, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": "Balers", 				"groupCode": "C", 				"subGroup": "Round", 				"subGroupCode": "CD", 				"series": "Rotana V Series", 				"seriesCode": "VRD", 				"model": "Rotana 180 V Xtra", 				"modelCode": "T-VRD3", 				"variant": "T-VRD3-0002", 				"variantCode": null, 				"uniqueIdentifier": "T-VRD3-0002_VARIANT" 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": null, 			"isProductLinked": false, 			"machineId": "a4i4E000000IPXqQAO", 			"ownershipAutoNo": "O-0600717", 			"machineName": null, 			"ownershipStatus": "Unverified", 			"machineCategory": "Hay &amp; Forage", 			"equipmentType": "Implement", 			"machineSubCategory": "Tedders", 			"machineSubCategoryCode": "EC", 			"machineBrand": "Krone", 			"machineModel": "4.62 /4", 			"machineVariant": null, 			"machineSeries": "KW", 			"vin": null, 			"yearOfManufacture": "1999", 			"uniqueIdentifier": "NT000101_MODEL", 			"productId": null, 			"image": null, 			"visibilityFlag": "LIMITED", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": null, 				"groupCode": null, 				"subGroup": null, 				"subGroupCode": null, 				"series": null, 				"seriesCode": null, 				"model": null, 				"modelCode": null, 				"variant": null, 				"variantCode": null, 				"uniqueIdentifier": null 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": null, 			"isProductLinked": false, 			"machineId": "a4i4E000000IPXvQAO", 			"ownershipAutoNo": "O-0600718", 			"machineName": null, 			"ownershipStatus": "Unverified", 			"machineCategory": "Tillage", 			"equipmentType": "Implement", 			"machineSubCategory": "Land Finisher", 			"machineSubCategoryCode": "FF", 			"machineBrand": "Lemken", 			"machineModel": "Rolles", 			"machineVariant": null, 			"machineSeries": "Trailing roles", 			"vin": null, 			"yearOfManufacture": "1999", 			"uniqueIdentifier": "NT001070_MODEL", 			"productId": null, 			"image": null, 			"visibilityFlag": "LIMITED", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": null, 				"groupCode": null, 				"subGroup": null, 				"subGroupCode": null, 				"series": null, 				"seriesCode": null, 				"model": null, 				"modelCode": null, 				"variant": null, 				"variantCode": null, 				"uniqueIdentifier": null 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": null, 			"isProductLinked": false, 			"machineId": "a4i4E000000IPYAQA4", 			"ownershipAutoNo": "O-0600721", 			"machineName": "Fendt 828 Vario SCR", 			"ownershipStatus": "Verified", 			"machineCategory": "Tractor", 			"equipmentType": "Machine", 			"machineSubCategory": "Standard", 			"machineSubCategoryCode": null, 			"machineBrand": "Fendt", 			"machineModel": "828 Vario SCR", 			"machineVariant": null, 			"machineSeries": null, 			"vin": "08362301244", 			"yearOfManufacture": null, 			"uniqueIdentifier": null, 			"productId": null, 			"image": null, 			"visibilityFlag": "FULL", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": null, 				"groupCode": null, 				"subGroup": null, 				"subGroupCode": null, 				"series": null, 				"seriesCode": null, 				"model": null, 				"modelCode": null, 				"variant": null, 				"variantCode": null, 				"uniqueIdentifier": null 			}, 			"warranty": { 				"warrantyStartDate": "18/02/2011", 				"warrantyEndDate": "17/02/2012" 			} 		}, 		{ 			"isAGCO": true, 			"isProductLinked": true, 			"machineId": "a4i4E000000IPYFQA4", 			"ownershipAutoNo": "O-0600722", 			"machineName": null, 			"ownershipStatus": "Pending AGCO Verification", 			"machineCategory": "Hay &amp; Forage", 			"equipmentType": "Implement", 			"machineSubCategory": "Tedders", 			"machineSubCategoryCode": "EC", 			"machineBrand": "Fendt", 			"machineModel": "Twister with Transport Chassis", 			"machineVariant": "Twister 13010 T", 			"machineSeries": "Twister Tedders", 			"vin": "vin123ownergjh", 			"yearOfManufacture": "2019", 			"uniqueIdentifier": "TW06-0003_VARIANT", 			"productId": "01tC00000056VdHIAU", 			"image": null, 			"visibilityFlag": "LIMITED", 			"actionType": 3, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": "Hay &amp; Forage", 				"groupCode": "E", 				"subGroup": "Tedders", 				"subGroupCode": "EC", 				"series": "Twister Tedders", 				"seriesCode": "FWT", 				"model": "Twister 13010 T", 				"modelCode": "TW06", 				"variant": "TW06-0003", 				"variantCode": null, 				"uniqueIdentifier": "TW06-0003_VARIANT" 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": null, 			"isProductLinked": true, 			"machineId": "a4i4E000000IPYVQA4", 			"ownershipAutoNo": "O-0600734", 			"machineName": null, 			"ownershipStatus": "Verified", 			"machineCategory": "Tractors", 			"equipmentType": "Machine", 			"machineSubCategory": "Standard", 			"machineSubCategoryCode": null, 			"machineBrand": "Fendt", 			"machineModel": "313 Vario S4", 			"machineVariant": null, 			"machineSeries": null, 			"vin": "WAM35421K00F00104", 			"yearOfManufacture": null, 			"uniqueIdentifier": null, 			"productId": "01tC00000056UfmIAE", 			"image": null, 			"visibilityFlag": "FULL", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": "Tractors", 				"groupCode": "A", 				"subGroup": "Standard", 				"subGroupCode": "AC", 				"series": "300 Vario S4", 				"seriesCode": "30A", 				"model": "313 Vario S4", 				"modelCode": "T350", 				"variant": "T350-0001", 				"variantCode": null, 				"uniqueIdentifier": "T350-0001_VARIANT" 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": null, 			"isProductLinked": true, 			"machineId": "a4i4E000000IPYWQA4", 			"ownershipAutoNo": "O-0600735", 			"machineName": "Fendt 516 Vario S4 T", 			"ownershipStatus": "Verified", 			"machineCategory": "Tractors", 			"equipmentType": "Machine", 			"machineSubCategory": "Standard", 			"machineSubCategoryCode": null, 			"machineBrand": "Fendt", 			"machineModel": "516 Vario S4", 			"machineVariant": null, 			"machineSeries": null, 			"vin": "WAM41621C00F00109", 			"yearOfManufacture": null, 			"uniqueIdentifier": null, 			"productId": "01tC00000056UsuIAE", 			"image": null, 			"visibilityFlag": "FULL", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": "Tractors", 				"groupCode": "A", 				"subGroup": "Standard", 				"subGroupCode": "AC", 				"series": "500 Vario S4", 				"seriesCode": "50A", 				"model": "516 Vario S4", 				"modelCode": "T438", 				"variant": "T438-0001", 				"variantCode": null, 				"uniqueIdentifier": "T438-0001_VARIANT" 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": null, 			"isProductLinked": true, 			"machineId": "a4i4E000000IPYXQA4", 			"ownershipAutoNo": "O-0600736", 			"machineName": null, 			"ownershipStatus": "Verified", 			"machineCategory": "Tractor", 			"equipmentType": "Machine", 			"machineSubCategory": "Standard", 			"machineSubCategoryCode": null, 			"machineBrand": "Fendt", 			"machineModel": null, 			"machineVariant": null, 			"machineSeries": null, 			"vin": "WAM95421C00F05034", 			"yearOfManufacture": null, 			"uniqueIdentifier": null, 			"productId": "01tC00000056UGCIA2", 			"image": null, 			"visibilityFlag": "FULL", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": "Tractors", 				"groupCode": "A", 				"subGroup": "Standard", 				"subGroupCode": "AC", 				"series": "900 Vario S4", 				"seriesCode": "90A", 				"model": "939 Vario S4", 				"modelCode": "T954", 				"variant": "T954-0001", 				"variantCode": null, 				"uniqueIdentifier": "T954-0001_VARIANT" 			}, 			"warranty": { 				"warrantyStartDate": "04/09/2017", 				"warrantyEndDate": "03/09/2018" 			} 		}, 		{ 			"isAGCO": null, 			"isProductLinked": true, 			"machineId": "a4i4E000000IPYaQAO", 			"ownershipAutoNo": "O-0600739", 			"machineName": null, 			"ownershipStatus": "Verified", 			"machineCategory": "Tractors", 			"equipmentType": "Machine", 			"machineSubCategory": "Standard", 			"machineSubCategoryCode": null, 			"machineBrand": "Fendt", 			"machineModel": "724 Vario", 			"machineVariant": null, 			"machineSeries": "700 Vario S4", 			"vin": "WAM74321K00F12008", 			"yearOfManufacture": null, 			"uniqueIdentifier": null, 			"productId": "01tC00000056UVjIAM", 			"image": null, 			"visibilityFlag": "FULL", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": "Tractors", 				"groupCode": "A", 				"subGroup": "Standard", 				"subGroupCode": "AC", 				"series": "700 Vario S4", 				"seriesCode": "70A", 				"model": "724 Vario S4", 				"modelCode": "T743", 				"variant": "T743-0001", 				"variantCode": null, 				"uniqueIdentifier": "T743-0001_VARIANT" 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": null, 			"isProductLinked": true, 			"machineId": "a4i4E000000IPYpQAO", 			"ownershipAutoNo": "O-0600754", 			"machineName": null, 			"ownershipStatus": "Verified", 			"machineCategory": "Tractor", 			"equipmentType": "Machine", 			"machineSubCategory": "Standard", 			"machineSubCategoryCode": null, 			"machineBrand": "Massey Ferguson", 			"machineModel": "MF 2625-211", 			"machineVariant": "MF 2625-211 4WD Platform", 			"machineSeries": "MF 2600", 			"vin": "MEA11151TA4920581", 			"yearOfManufacture": "2000", 			"uniqueIdentifier": null, 			"productId": "01t1o00000BKNunAAH", 			"image": null, 			"visibilityFlag": "FULL", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": "Tractors", 				"groupCode": "A", 				"subGroup": "Standard", 				"subGroupCode": "AC", 				"series": "MF 2600", 				"seriesCode": "IR", 				"model": "MF 2625-211 4WD Platform", 				"modelCode": "IRZ", 				"variant": "IRZ-0002", 				"variantCode": null, 				"uniqueIdentifier": "IRZ-0002_VARIANT" 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": null, 			"isProductLinked": true, 			"machineId": "a4i4E000000IPYrQAO", 			"ownershipAutoNo": "O-0600756", 			"machineName": null, 			"ownershipStatus": "Verified", 			"machineCategory": null, 			"equipmentType": "Machine", 			"machineSubCategory": null, 			"machineSubCategoryCode": null, 			"machineBrand": null, 			"machineModel": null, 			"machineVariant": null, 			"machineSeries": null, 			"vin": "WAM01747KKW001110", 			"yearOfManufacture": "2009", 			"uniqueIdentifier": null, 			"productId": "01t1o000008QoK9AAK", 			"image": null, 			"visibilityFlag": "FULL", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": "Tractors", 				"groupCode": "A", 				"subGroup": "Standard", 				"subGroupCode": "AC", 				"series": "900 Vario Gen6", 				"seriesCode": "90B", 				"model": "936 Vario Gen6", 				"modelCode": "T959", 				"variant": "T959-0001", 				"variantCode": null, 				"uniqueIdentifier": "T959-0001_VARIANT" 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": null, 			"isProductLinked": true, 			"machineId": "a4i4E000000IPYtQAO", 			"ownershipAutoNo": "O-0600758", 			"machineName": null, 			"ownershipStatus": "Verified", 			"machineCategory": "Tractors", 			"equipmentType": "Implement", 			"machineSubCategory": "Standard", 			"machineSubCategoryCode": null, 			"machineBrand": "Valtra", 			"machineModel": "S374 SmartTouch", 			"machineVariant": null, 			"machineSeries": "S Series (S4)", 			"vin": "VKKVP48GHJB136049", 			"yearOfManufacture": "2018", 			"uniqueIdentifier": null, 			"productId": "01tC00000056VWHIA2", 			"image": null, 			"visibilityFlag": "FULL", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": "Tractors", 				"groupCode": "A", 				"subGroup": "Standard", 				"subGroupCode": "AC", 				"series": "S4 Series", 				"seriesCode": "VS4", 				"model": "S374 Smart Touch", 				"modelCode": "64187700", 				"variant": "64187700-0001", 				"variantCode": null, 				"uniqueIdentifier": "64187700-0001_VARIANT" 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": true, 			"isProductLinked": true, 			"machineId": "a4i4E000000IPZ6QAO", 			"ownershipAutoNo": "O-0600763", 			"machineName": null, 			"ownershipStatus": "Verified", 			"machineCategory": "Tractors", 			"equipmentType": "Implement", 			"machineSubCategory": "Standard", 			"machineSubCategoryCode": null, 			"machineBrand": "Fendt", 			"machineModel": "722 Vario S4", 			"machineVariant": "T742-0001", 			"machineSeries": "700 Vario S4", 			"vin": "WAM74221T00F06104", 			"yearOfManufacture": "2017", 			"uniqueIdentifier": "T742-0001_VARIANT", 			"productId": "01tC00000056UVgIAM", 			"image": null, 			"visibilityFlag": "FULL", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": "Tractors", 				"groupCode": "A", 				"subGroup": "Standard", 				"subGroupCode": "AC", 				"series": "700 Vario S4", 				"seriesCode": "70A", 				"model": "722 Vario S4", 				"modelCode": "T742", 				"variant": "T742-0001", 				"variantCode": null, 				"uniqueIdentifier": "T742-0001_VARIANT" 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": true, 			"isProductLinked": true, 			"machineId": "a4i4E000000IPZBQA4", 			"ownershipAutoNo": "O-0600764", 			"machineName": null, 			"ownershipStatus": "Unverified", 			"machineCategory": "Balers", 			"equipmentType": "Implement", 			"machineSubCategory": "Large Square", 			"machineSubCategoryCode": "CB", 			"machineBrand": "Fendt", 			"machineModel": "870 CE", 			"machineVariant": null, 			"machineSeries": "Large Square Balers", 			"vin": null, 			"yearOfManufacture": "2017", 			"uniqueIdentifier": "N757_MODEL", 			"productId": "01t4E000006TTXAQA4", 			"image": null, 			"visibilityFlag": "LIMITED", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": "Balers", 				"groupCode": "C", 				"subGroup": "Large Square", 				"subGroupCode": "CB", 				"series": "Large Square Balers", 				"seriesCode": "FBS", 				"model": "870 CE", 				"modelCode": "N757", 				"variant": null, 				"variantCode": null, 				"uniqueIdentifier": "N757_MODEL" 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": true, 			"isProductLinked": true, 			"machineId": "a4i4E000000IPasQAG", 			"ownershipAutoNo": "O-0600776", 			"machineName": null, 			"ownershipStatus": "Pending AGCO Verification", 			"machineCategory": "Hay &amp; Forage", 			"equipmentType": null, 			"machineSubCategory": "Forage Wagons", 			"machineSubCategoryCode": null, 			"machineBrand": "Fendt", 			"machineModel": "Tigo 50 MS", 			"machineVariant": "T-FLD2-0001", 			"machineSeries": "Tigo MS-Series", 			"vin": "000005326", 			"yearOfManufacture": null, 			"uniqueIdentifier": "T-FLD2-0001_VARIANT", 			"productId": "01tC0000004TgEyIAK", 			"image": null, 			"visibilityFlag": "LIMITED", 			"actionType": 3, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": "Hay &amp; Forage", 				"groupCode": "E", 				"subGroup": "Forage Wagons", 				"subGroupCode": "EF", 				"series": "Tigo MS-Series", 				"seriesCode": "FLD", 				"model": "Tigo 50 MS", 				"modelCode": "T-FLD2", 				"variant": "T-FLD2-0001", 				"variantCode": null, 				"uniqueIdentifier": "T-FLD2-0001_VARIANT" 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": null, 			"isProductLinked": false, 			"machineId": "a4i4E000000IPcKQAW", 			"ownershipAutoNo": "O-0600783", 			"machineName": null, 			"ownershipStatus": "Unverified", 			"machineCategory": "Tractors", 			"equipmentType": null, 			"machineSubCategory": "Standard", 			"machineSubCategoryCode": null, 			"machineBrand": "Fendt", 			"machineModel": "724 Vario", 			"machineVariant": null, 			"machineSeries": "700 Vario S4", 			"vin": "WAM74321L00F11920", 			"yearOfManufacture": null, 			"uniqueIdentifier": null, 			"productId": null, 			"image": null, 			"visibilityFlag": "LIMITED", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": null, 				"groupCode": null, 				"subGroup": null, 				"subGroupCode": null, 				"series": null, 				"seriesCode": null, 				"model": null, 				"modelCode": null, 				"variant": null, 				"variantCode": null, 				"uniqueIdentifier": null 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": null, 			"isProductLinked": false, 			"machineId": "a4i4E000000IPcPQAW", 			"ownershipAutoNo": "O-0600784", 			"machineName": null, 			"ownershipStatus": "Unverified", 			"machineCategory": "Tractors", 			"equipmentType": null, 			"machineSubCategory": "Standard", 			"machineSubCategoryCode": null, 			"machineBrand": "Fendt", 			"machineModel": "724 Vario", 			"machineVariant": null, 			"machineSeries": "700 Vario S4", 			"vin": "WAM74321L00F11920", 			"yearOfManufacture": null, 			"uniqueIdentifier": null, 			"productId": null, 			"image": null, 			"visibilityFlag": "LIMITED", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": null, 				"groupCode": null, 				"subGroup": null, 				"subGroupCode": null, 				"series": null, 				"seriesCode": null, 				"model": null, 				"modelCode": null, 				"variant": null, 				"variantCode": null, 				"uniqueIdentifier": null 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": null, 			"isProductLinked": false, 			"machineId": "a4i4E000000IPekQAG", 			"ownershipAutoNo": "O-0600794", 			"machineName": null, 			"ownershipStatus": "Unverified", 			"machineCategory": "Hay &amp; Forage", 			"equipmentType": "Implement", 			"machineSubCategory": "Tedders", 			"machineSubCategoryCode": "EC", 			"machineBrand": "Krone", 			"machineModel": "7.92 /8", 			"machineVariant": null, 			"machineSeries": "KW", 			"vin": null, 			"yearOfManufacture": "2001", 			"uniqueIdentifier": "NT000109_MODEL", 			"productId": null, 			"image": null, 			"visibilityFlag": "LIMITED", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": null, 				"groupCode": null, 				"subGroup": null, 				"subGroupCode": null, 				"series": null, 				"seriesCode": null, 				"model": null, 				"modelCode": null, 				"variant": null, 				"variantCode": null, 				"uniqueIdentifier": null 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": null, 			"isProductLinked": false, 			"machineId": "a4i4E000000IPeuQAG", 			"ownershipAutoNo": "O-0600795", 			"machineName": null, 			"ownershipStatus": "Unverified", 			"machineCategory": "Tractors", 			"equipmentType": null, 			"machineSubCategory": "Standard", 			"machineSubCategoryCode": null, 			"machineBrand": "Fendt", 			"machineModel": "724 Vario", 			"machineVariant": null, 			"machineSeries": "700 Vario S4", 			"vin": "WAM74321T00F11843", 			"yearOfManufacture": null, 			"uniqueIdentifier": null, 			"productId": null, 			"image": null, 			"visibilityFlag": "LIMITED", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": null, 				"groupCode": null, 				"subGroup": null, 				"subGroupCode": null, 				"series": null, 				"seriesCode": null, 				"model": null, 				"modelCode": null, 				"variant": null, 				"variantCode": null, 				"uniqueIdentifier": null 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		}, 		{ 			"isAGCO": null, 			"isProductLinked": false, 			"machineId": "a4i4E000000IPf9QAG", 			"ownershipAutoNo": "O-0600796", 			"machineName": null, 			"ownershipStatus": "Unverified", 			"machineCategory": "Hay &amp; Forage", 			"equipmentType": "Implement", 			"machineSubCategory": "Tedders", 			"machineSubCategoryCode": "EC", 			"machineBrand": "Krone", 			"machineModel": "4.62 /4", 			"machineVariant": null, 			"machineSeries": "KW", 			"vin": null, 			"yearOfManufacture": "2002", 			"uniqueIdentifier": "NT000101_MODEL", 			"productId": null, 			"image": null, 			"visibilityFlag": "LIMITED", 			"actionType": 2, 			"serviceDealerId": null, 			"partsDealerId": null, 			"product": { 				"group": null, 				"groupCode": null, 				"subGroup": null, 				"subGroupCode": null, 				"series": null, 				"seriesCode": null, 				"model": null, 				"modelCode": null, 				"variant": null, 				"variantCode": null, 				"uniqueIdentifier": null 			}, 			"warranty": { 				"warrantyStartDate": null, 				"warrantyEndDate": null 			} 		} 	]  }' doc:name="Set Variable" doc:id="6f616a86-0f26-4488-9a73-4f852af7a235" variableName="machineData" mimeType="application/json"/>
		<set-variable value='{ 	"machines": [{ 			"groupCode": "A", 			"groupName": "Tractors", 			"subGroupCode": "AA", 			"subGroupName": "VSF", 			"implements": [{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GX", 					"subGroupName": "Other Planters &amp; Drills" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GA", 					"subGroupName": "Min-Till" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GB", 					"subGroupName": "Row Crop Planters" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GC", 					"subGroupName": "Precision Planters" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GD", 					"subGroupName": "Drill Combination" 				} 			] 		}, 		{ 			"groupCode": "A", 			"groupName": "Tractors", 			"subGroupCode": "AB", 			"subGroupName": "Compact", 			"implements": [{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GX", 					"subGroupName": "Other Planters &amp; Drills" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GA", 					"subGroupName": "Min-Till" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GB", 					"subGroupName": "Row Crop Planters" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GC", 					"subGroupName": "Precision Planters" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GD", 					"subGroupName": "Drill Combination" 				} 			] 		}, 		{ 			"groupCode": "A", 			"groupName": "Tractors", 			"subGroupCode": "AC", 			"subGroupName": "Standard", 			"implements": [{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GX", 					"subGroupName": "Other Planters &amp; Drills" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GA", 					"subGroupName": "Min-Till" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GB", 					"subGroupName": "Row Crop Planters" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GC", 					"subGroupName": "Precision Planters" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GD", 					"subGroupName": "Drill Combination" 				} 			] 		}, 		{ 			"groupCode": "A", 			"groupName": "Tractors", 			"subGroupCode": "AD", 			"subGroupName": "Tracked", 			"implements": [{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GX", 					"subGroupName": "Other Planters &amp; Drills" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GA", 					"subGroupName": "Min-Till" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GB", 					"subGroupName": "Row Crop Planters" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GC", 					"subGroupName": "Precision Planters" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GD", 					"subGroupName": "Drill Combination" 				} 			] 		}, 		{ 			"groupCode": "A", 			"groupName": "Tractors", 			"subGroupCode": "AE", 			"subGroupName": "Articulated", 			"implements": [{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GX", 					"subGroupName": "Other Planters &amp; Drills" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GA", 					"subGroupName": "Min-Till" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GB", 					"subGroupName": "Row Crop Planters" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GC", 					"subGroupName": "Precision Planters" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GD", 					"subGroupName": "Drill Combination" 				} 			] 		}, 		{ 			"groupCode": "A", 			"groupName": "Tractors", 			"subGroupCode": "AF", 			"subGroupName": "Tractor Accessories", 			"implements": [{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GX", 					"subGroupName": "Other Planters &amp; Drills" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GA", 					"subGroupName": "Min-Till" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GB", 					"subGroupName": "Row Crop Planters" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GC", 					"subGroupName": "Precision Planters" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GD", 					"subGroupName": "Drill Combination" 				} 			] 		}, 		{ 			"groupCode": "A", 			"groupName": "Tractors", 			"subGroupCode": "AX", 			"subGroupName": "Other Tractors", 			"implements": [{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GX", 					"subGroupName": "Other Planters &amp; Drills" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GA", 					"subGroupName": "Min-Till" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GB", 					"subGroupName": "Row Crop Planters" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GC", 					"subGroupName": "Precision Planters" 				}, 				{ 					"groupCode": "G", 					"groupName": "Planters &amp; Drills", 					"subGroupCode": "GD", 					"subGroupName": "Drill Combination" 				} 			] 		} 	], 	"workTypeUUID": "d0247f06-8d03-11e9-bc42-526af7764f64" }' doc:name="Set Variable" doc:id="4ed41617-af5a-4c72-856d-585126daed0b" variableName="odsData" mimeType="application/json"/>
		<ee:transform doc:name="Transform Message" doc:id="b03b194a-0421-4180-b267-571665a4b554" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
       //"taskTypeUUID": vars.scatterGather[1].payload.taskTypeUUID,
       //"taskTypeCode": vars.scatterGather[1].payload.taskTypeCode,
       //"taskTypeName": vars.scatterGather[1].payload.taskTypeName,
       "machines": (vars.odsData.machines distinctBy $.subGroupCode map ((payload01, indexOfPayload01) ->
              using (b = (vars.machineData.machineList map ((payload03, indexOfPayload03) ->
                           if (payload01.subGroupCode == payload03.machineSubCategoryCode and payload03.ownershipStatus == "Verified" and payload03.equipmentType == "Machine") {
                                  "serialNo": payload03.vin,
                                  "modelCode": payload03.machineModel,
                                  "machineName":payload03.machineName,
                                  "ownershipId" : payload03.machineId,
                                  "ownershipStatus" : payload03.ownershipStatus,
                                  "equipmentType" : payload03.equipmentType,
                                  "ownershipAutoNo": payload03.ownershipAutoNo
                           } else null
                     )) filter ($ != null))
              if (sizeOf(b)>0){
                     "groupCode": payload01.groupCode,
                     "groupName": payload01.groupName,
                     "details": b,
                     "implements": (payload01.implements map ((payload02, indexOfPayload02) ->
                           using (c = (vars.machineData.machineList map ((payload04, indexOfPayload04) ->
                           if (payload02.subGroupCode == payload04.machineSubCategoryCode and (payload04.ownershipStatus == "Verified" or payload04.ownershipStatus == "Unverified") and payload04.equipmentType == "Implement") {
                                  "serialNo": payload04.vin,
                                  "modelCode": payload04.machineModel,
                                  "implementName":payload04.machineName,
                                  "ownershipId" : payload04.machineId,
                                  "ownershipStatus" : payload04.ownershipStatus,
                                  "equipmentType" : payload04.equipmentType,
                                  "ownershipAutoNo": payload04.ownershipAutoNo
                           } else null
                     )) filter ($ != null))
                           if (sizeOf(c)>0) {
                                  "groupCode": payload02.groupCode,
                                  "groupName": payload02.groupName,
                                  "details": c
                           } else null) filter ($ != null)
                     )
              } else null) filter ($ != null)
       )
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="369cb9ed-7a19-4312-aa54-d61d5ff03532" />
	</flow>
</mule>
